<!-- Bottom Nav -->
<footer>
  <div class="col-2 offset-2 p-3">
    <div class="footerContact">
      <a title="ssigdel2@my.centennialcollege.ca" href="mailto:ssigdel2@my.centennialcollege.ca"><i
          class="fas fa-envelope-square"></i>&nbsp; Email</a><br>
      <a title="https://www.linkedin.com/in/shankar-sigdel-3421b81b7/"
        href="https://www.linkedin.com/in/shankar-sigdel-3421b81b7/"><i class="fab fa-linkedin"></i>&nbsp;
        Linkedin</a><br>
    </div>
  </div>

  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. Shankar Sigdel - Web Application Development - Express Portfolio Authentication.</h6>
  </nav>
</footer>