<!--Main Content About page -->
<main class="container">
    <div class="jumbotron">

        <p align="center"><img width="200" height="230" src="./Assets/images/shankar.jpg"></p>

        <p align="right">
        <h4 text-align="center" background-color=blue;> ABOUT ME</h4>
        </p>
        <p>
            My Name is SHANKAR SIGDEL, I am a student of Centennial College,
            Software Engineering Technology Co-Op. <br>I Live in Scarborough, Ontario, Canada. <br>
            Please Click on Resume Button For Detail Information.
        </p>

        <div class="col-12 resume">
            <a class="btn btn-primary btn-lg" href="/public/PDF/resume.pdf" role="button" target=" _blank">
                Resume
            </a>
        </div>
    </div>
</main>
