<!--Main Content About page -->
<main class="container">
    <div class="jumbotron">
        <div class = "aboutme">
            <br>
            <br>
            <br>
            <br>
            <h1 text-align="center" background-color=blue;> 
                EDUCATION
            </h1>
            <hr class="about">
            <br>
            <div class="col-12 tribhuvanUniversity">
                <img width="800" height="500" src="./Assets/images/tribhuvanuniversity.png"> 
                <a class="btn btn-primary btn-lg"  href="https://tribhuvan-university.edu.np/" role="button" target=" _blank">
                    Completed University Degree, From Tribhuvan University, Nepal
                </a>
                <div class="unorderlist">
                    <h5>Relevant Courses</h5>
                    <ul> Research Methods in Sociology and Anthropology </ul>
                    <ul> Critical and creative thinking </ul>
                    <ul> Literary Genre  </ul>
                    <ul> Research Analysis </ul>
                </div>
            </div>
            <hr class="about">
            <br>
            <div class="col-12 centennialCollege">
                <img width="800" height="500" src="./Assets/images/centennialcollege.jpg">
                <a class="btn btn-primary btn-lg"  href="https://www.centennialcollege.ca/" role="button" target=" _blank">
                    Completed Software Engineering, From Centennial College, Canada
                </a>
                <div class="unorderlist">
                    <h5>Relevant Courses</h5>
                    <ul> C# Programming </ul>
                    <ul> Java Programming </ul>
                    <ul> UNIX/LINUX </ul>
                    <ul> Database </ul>
                    <ul> Web Application Devlopment </ul>
                    <ul> Client Side Web Devlopment </ul>
                    <ul> Software Development Project-I </ul>
                    <ul> Software Testing and Quality Assurance </ul>
                    <ul> Software Testing Automated Tools </ul>
                    <ul> IT Project Management </ul>
                </div>
            </div>
            <hr class="about">
            <br>
            <h1 text-align="center" background-color=blue;> 
                WORK EXPERIENCE
            </h1>
            <hr class="about">
            <br>
            <div class="col-12 globalcollection">
                <img width="800" height="500" src="./Assets/images/customerservice.jpg">
                <a class="btn btn-primary btn-lg"  href="https://affglo.com/" role="button" target=" _blank">
                    Worked as Customer Service at Global Collection
                </a>
                <div class="unorderlist">
                    <h5>Responsibilities</h5>
                    <ul> Responded over 40 calls per day </ul>
                    <ul> Solved the problems related to credit and collection department </ul>
                    <ul> Documented problems and reasons of the customers </ul>
                    <ul> Provided solutions to the customers </ul>
                </div>
            </div>
            <hr class="about">
            <br>
            <br>
            <div class="col-12 tiffany">
                <img width="800" height="500" src="./Assets/images/tiffany.jpg">
                <a class="btn btn-primary btn-lg"  href="https://www.tiffanyvillage.com/" role="button" target=" _blank">
                    Worked as a Food and Beverage Aid at Tiffany Village
                </a>
                <div class="unorderlist">
                    <h5>Responsibilities</h5>
                    <ul> Served food to the elderly people </ul>
                    <ul> Followed Health and safety regulations </ul>
                    <ul> Assisted the F&B Manager and performed paper works as required. </ul>
                    <ul> Provided Immidiate solutions to the Residents </ul>
                </div>
            </div>
            <hr class="about">
            <br>
            <div class="col-12 janabhawana">
                <img width="800" height="500" src="./Assets/images/janabhawana.jpg">
                <a class="btn btn-primary btn-lg"  href="https://janabhawana.edu.np" role="button" target=" _blank">
                    Worked as QA & Higher Education Reform Project coordinator, JanaBhawana Campus
                </a>
                <div class="unorderlist">
                    <h5>Responsibilities</h5>
                    <ul> Worked under the criteria and benchmarks of UGC </ul>
                    <ul> Published up to date information to the students and faculties </ul>
                    <ul> Organized the data and analyzed the data and Prepared SSR </ul>
                    <ul> Conducted Peer Review </ul>
                    <ul> Wrote proposals and applied for grants </ul>
                    <ul> Worked under the UGC guidelines on QAA </ul>
                    <ul> Developed proposals </ul>
                    <ul> Prepared Annual Reports </ul>
                    <ul> Develop procurement plan </ul>
                </div>
            </div>
            <br>
            <div class="col-12 resume">
                <a class="btn btn-primary btn-lg" href="/public/PDF/resume.pdf" role="button" target=" _blank">
                    Resume
                </a>
            </div>
            <br>
            <hr class="about">
            <div class="col-12 goToTop">
                <a class="btn btn-primary btn-lg" href="#Top" role="button" target=" _blank">
                    &uarr;
                </a>
             </div>
             <hr class="about">
        </div>
    </div>
</main>
