<!--Main Content contact page added Jumbotron-->
<main class="container">
  <div class="jumbotron">
    <div class="col-3 ml-5 mt-5">
      <h1 >Contact Me</h1>
      <p>Name : Shankar Sigdel</p>
      <p> ssigdel2@my.centennialcollege.ca</p>
      <p>Phone: (647) 608 7541</p>
      <p>Address: Scarborough, ON, CA</p>
    </div>

    <!-- Contact Form -->
    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">First Name</label>
          <input type="text" class="form-control" id="firstName" required placeholder="Enter Your First Name">
          <div class="valid-feedback">
            Valid First Name!
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Last Name</label>
          <input type="text" class="form-control" id="lastName" required placeholder="Enter Your Last Name">
          <div class="valid-feedback">
            Valid Last Name!
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom03">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Your Valid Email" required>
          <div class="invalid-feedback">
            Enter Your Valid Email.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="validationTextarea">Short Message</label>
        <textarea class="form-control" id="message" placeholder="Enter Your Message Here"></textarea>
      </div>

      <button type="submit" class="btn btn-outline-info"><i class="fas fa-file-import"></i>Send</button>
      <button type="reset" class="btn btn-outline-warning"><i class="fas fa-redo"></i>Undo</button>
    </form>
  </div>
</main>