<!--Main Content home page added Jumbotron-->
<main class="container">
    <div class="jumbotron">

        <!--Using Switch case all infornation passed through here-->

        <body>
            <div class="content">
                <h4>WELCOME TO MY PORTFOLIO</h4>
                <img src="./Assets/images/diyo.jpg" width="600" height="200">
                <p>
                <h6> MISSION STATEMENT</h6>
                Gain Knowledge on Technology and Work as A Leading Professinal with Sound
                Knowledge.
                </p>

                <div class="col-12 resume">
                    <a class="btn btn-primary btn-lg" href="/about" role="button" target=" _blank">
                        About Me
                    </a>
                </div>
            </div>
        </body>
    </div>
</main>
