<!--Main Content home page added Jumbotron-->
<main class="container">
    <div class="jumbotron">

        <!--Using Switch case all infornation passed through here-->

        <body>
            <div class="content">
                <br>
                <br>
                <br>
                <br>
                <h4 class="title">WELCOME TO MY PORTFOLIO</h4>
                <img src="./Assets/images/shankar.jpg" width="200" height="200" >
                <br>
                <br>
                <h5> PERSONAL INFORMATION </h5>
                <div class="personalinfo">
                    <ul> Name: Shankar Sigdel </ul>
                    <ul> Address: 10 Coronation Drive, Scarborough, ON M1E 2H1 </ul>
                    <ul> Phone: +1 (647)608 7541 </ul>
                    <ul> Email: shankarsigdel26@gmail.com </ul>             
                </div>
                <br>
                <p>
                    <h5> MISSION STATEMENT</h5>
                     Gain Knowledge on Technology and Work as A Leading Professinal with Sound
                     Knowledge.
                </p>
                <br>
                <h5> PROFESSIONAL SUMMARY </h5>
                <div class="professional">
                    <ul> Completed Software Engineering Technician, Diploma program </ul>
                    <ul> Completed Humanities and Social Sciences, Major English, University Degree Program </ul>
                    <ul> Love to work in culturally diverse environment </ul>
                    <ul> Skills in MS Word, Visio, Excel, PowerPoint, SPSS, Trello, GitHub </ul>
                    <ul> Good communication, Report writing and Documentation Skills </ul>
                    <ul> Conducted several research activities and prepared reports </ul>
                </div>
                <div class="col-12 aboutme">
                    <a class="btn btn-primary btn-lg" href="/about" role="button" target=" _blank" >
                        About Me
                    </a>
                </div>
                <br>
                <div class="col-12 goToTop">
                    <a class="btn btn-primary btn-lg" href="#Top" role="button" target=" _blank">
                        Scroll Up To Top Of The Page 
                    </a>
                 </div>
            </div>
        </body>
    </div>
</main>
