<!--Main Content products page added Jumbotron-->
<main class="container">
    <div class="jumbotron">

        <h1>About My Projects</h1>
        <div class="row ">
            <div class="column">
                <img src="./Assets/images/diceroll.png" width="350" height="250">
                <p> The main purpose to develop this project is<br>
                    to roll the dice. we have two diaces here, <br>
                    when we click on the roll button, it shows<br>
                    the number and also shows the total number<br>
                    by adding the number of both dice.
                </p>
                <div class="card-footer">
                    <a href="https://shankarsigdel.github.io/COMP125-F-Exam-Dice/" class="btn btn-primary">Dice-Roll
                        GitHub</a>
                </div>
            </div>
            <div class="column">
                <img src="./Assets/images/slotmachine.png" width="350" height="250">
                <p> This is the Slot Machine Project. The main<br>
                    purpose to develop this project is to show<br>
                    how the jackpot works. When we bet amount<br>
                    and play,it shows either we win the game or<br>
                    loose. It shows credic, balance and jackpot.
                </p>
                <div class="card-footer">
                    <a href="https://shankarsigdel.github.io/COMP125-A4-Slot/" class="btn btn-primary">Sloat-Machine
                        GitHub</a>
                </div>
            </div>
            <div class="column">
                <img src="./Assets/images/projectfivepage.png" width="350" height="250">
                <p> This is a 5 page project of Web Application<br>
                    The main purpose to develop this project is <br>
                    to run multi-pages and show the importance <br>
                    of each pages. Home, About, Products, Services<br>
                    and Contact pages are the pages of this project
                </p>
                <div class="card-footer">
                    <a href="https://comp229-1assignment.herokuapp.com/" class="btn btn-primary">Portfolio Heroku</a>
                </div>
            </div>
        </div>
    </div>
</main>