<!--Main Content products page added Jumbotron-->
<main class="container">
    <div class="jumbotron">
        <br>
        <br>
        <br>
        <br>
        <h1 style = "text-align: center;">About My Projects</h1>
        <div class="row ">
            <div class="column">
                <img src="./Assets/images/diceroll.png" width="350" height="250">
                <p> This Project is to Roll the Dice<br></p>
                <div class="card-footer">
                    <a href="https://shankarsigdel.github.io/COMP125-F-Exam-Dice/" class="btn btn-primary">Dice-Roll
                        GitHub
                    </a>
                </div>
            </div>
            <div class="column">
                <img src="./Assets/images/slotmachine.png" width="350" height="250">
                <p> This is the Slot Machine Project. </p>
                <div class="card-footer">
                    <a href="https://shankarsigdel.github.io/COMP125-A4-Slot/" class="btn btn-primary">Sloat-Machine
                        GitHub
                    </a>
                </div>
            </div>
            <div class="column">
                <img src="./Assets/images/projectfivepage.png" width="350" height="250">
                <p> This is a 5 page project of Web Application</p>
                <div class="card-footer">
                    <a href="https://comp229-1assignment.herokuapp.com/" class="btn btn-primary">Portfolio Heroku</a>
                </div>
            </div>
            <div class="column">
                <img src="./Assets/images/billcalculator.png" width="350" height="250">
                <p> This Project is to Calculate the Bill<br></p>
            </div>
            <div class="column">
                <img src="./Assets/images/meanmachine.png" width="350" height="250">
                <p> This is the Mean Machine Group Project. </p>
                <div class="card-footer">
                    <a href="https://web-application-final-project.herokuapp.com/" class="btn btn-primary">
                        Mean-Machine GitHub
                    </a>
                </div>
            </div>
            <div class="column">
                <img src="./Assets/images/searchorganization.png" width="350" height="250">
                <p> This project is to search the Organization</p>
            </div>
            <br>
            <div class="col-12 goToTop">
                <a class="btn btn-primary btn-lg" href="#Top" role="button" target=" _blank">
                    Scroll Up To Top Of The Page 
                </a>
             </div>
        </div>
    </div>
</main>