<!--Main Content Services page added Jumbotron-->
<main class="container">
    <div class="jumbotron">
        <br>
        <br>
        <br>
        <br>
        <h1 class="skills">
            ABOUT MY SKILLS
        </h1>
        <hr class="services">
        <div class="row">
            <div class="column">
                <img src="./Assets/images/qualityassurance.jpg" width="350" height="250">
            </div>
            <div class="column">
                <img src="./Assets/images/webdesign.jpg" width="350" height="250">
            </div>
            <div class="column">
                <img src="./Assets/images/customerservice1.jpg" width="350" height="250">
            </div>
            <hr class="services">
            <h3>
                Interest on Software Engineering and Research.
            </h3>
            <hr class="services">
            <br>
        </div>
        <div class="row">
            <div class="column">
                <img src="./Assets/images/programming.jpg" width="350" height="250">
            </div>
            <div class="column">
                <img src="./Assets/images/htmlcssjs.jpg" width="350" height="250">
            </div>
            <div class="column">
                <img src="./Assets/images/research.jpg" width="350" height="250">
            </div>
        </div>
        <hr class="services">
        <br>
        <div class="col-12 connectwithotherpage">
            <a class="btn btn-primary btn-lg" href="https://shankarsigdel.github.io/Web-Projects-Sem-I/" role="button" target=" _blank">
                Connect to My other Projects
            </a>
        </div>
        <hr class="services">
        <br>
        <div class="col-12 goToTop">
            <a class="btn btn-primary btn-lg" href="#Top" role="button" target=" _blank">
                &uarr; 
            </a>
         </div>
    </div>
</main>